@media (max-width: 840px) {
  .first-section {
    flex-direction: column-reverse;
    height: 960px;
  }
  .first-section__h1 {
    width: 100%;
    height: 50%;
    text-align: center;
  }

  .first-section__h1 p {
    text-align: center;
  }
  .first-section__h1 .btn {
    align-self: center;
  }
  .first-section__stats {
    width: 100%;
    height: 50%;
  }
  .second-section {
    flex-wrap: wrap;
    align-items: center;
    height: 800px;
    width: 100vw;
    margin: 0;
  }
  .second-section .second-section__h3 {
    text-align: center;
    width: 100%;
  }
  .second-section__perks {
    width: 100%;
  }
  .perks {
    justify-content: flex-start;
    background-color: rgba(139, 72, 191, 0.3);
    border-radius: 50px 0px 0px 50px;
    height: 43px;
    margin-left: 10%;
  }
  .perks span img {
    height: 43px;
  }
  .perks__p {
    text-align: justify;
    margin-left: 35px;
  }
  .third-section {
    height: 800px;
  }
  .card-hidden {
    display: none;
  }
  .card {
    width: 80%;
  }
  .third-section .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    margin-top: 60px;
  }
  .fourth-section {
    height: 300px;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
  }
  footer {
    height: 800px;
    width: 100vw;
    position: relative;
  }
  .footer-3{
    flex-direction: row;
  }
  .footer-3 form{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 100%;
  }
  .footer-3 p {
    display: none;
  }
  .footer-2 {
    position: absolute;
    top: 20%;
    justify-content: space-around;
    width: 100%;
  }
  .icons {
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
    justify-content: center;
  }
  .icons img {
    margin: 35px;
  }
  .footer-logo {
    position: absolute;
    bottom: 25%;
    left: 38%;
    width: 120px;
    height: 24px;
  }

  .mobile-p {
    display: flex;
    position: absolute;
    bottom: 15%;
  }
}
@media (max-width:390px){
  .card img{
    left: 38%;
  }
}